{{define "content"}}
<h1>Login</h1>
<form method="post" action="/login">
  <label>Username <input type="text" name="username" value="koen"></label>
  <label>Password <input type="password" name="password" value="password"></label>
  <button type="submit">Login</button>
</form>
{{end}}
