{{define "content"}}
<p>Print photos from the excellent Gallery photo-sharing website:</p>
<form role="form" action="/photoprint" method="post">
  <button class="btn btn-default" type="submit">Print Pictures From Gallery</button>
</form>
{{end}}
