{{define "layout"}}
<!doctype html>
<html>
<head>
  <title>Order Photo Prints Online</title>
  <link href="/stylesheets/base.css" rel="stylesheet">
  <link href="/stylesheets/topnav.css" rel="stylesheet">
  <link href="/stylesheets/sign-in-modules.css" rel="stylesheet">
</head>
<body>
  <h1>PhotoPrint</h1>
  <p>This application implements the following OAuth 2.0 roles: Client (Classic Web Application). The application is a printing service and let's users print pictures hosted at the gallery application.</p>
  {{template "content" .}}
</body>
</html>
{{end}}
